﻿@using Computational_Foundry_Booking_System.Models.View_Models.Bookings
@model RoomBookingsViewModel

@{
  ViewData["Title"] = "RoomBookings";
}

<h1 class="common-center-heading">Bookings on:</h1>

<div class="day-display">
  <a asp-action="RoomBookings"
     asp-route-datetime="@Model.PreviousDay.ToString("dd-MM-yyyy HH:00")">
    <div class="previous-button"></div>
  </a>
  <h1 class="common-inline-heading">
    @Model.SelectedDateTime.ToString("d MMMM yyyy")
  </h1>
  <a asp-action="RoomBookings"
     asp-route-datetime="@Model.NextDay.ToString("dd-MM-yyyy HH:00")">
    <div class="next-button"></div>
  </a>
</div>

<div class="time-display">
  <a asp-action="RoomBookings"
     asp-route-datetime="@Model.PreviousHour.ToString("dd-MM-yyyy HH:00")">
    <div class="previous-button"></div>
  </a>
  <h1 class="common-inline-heading">
    @Model.SelectedDateTime.ToString("HH:00")
  </h1>
  <a asp-action="RoomBookings"
     asp-route-datetime="@Model.NextHour.ToString("dd-MM-yyyy HH:00")">
    <div class="next-button"></div>
  </a>
</div>

<div class="room-controls">
  <button class="room-controls-btn" id="select-all-btn">Select All</button>

  <div class="room-grid-container">
    <div class="room-container"
         style="grid-template-columns: repeat(@Model.Resources[0].Length, min-content)">
      @for (int y = 0; y < Model.Resources.Length; y++) {
        @for (int x = 0; x < Model.Resources[y].Length; x++) {
          @if (Model.Resources[y][x] == null) {
            <div class="resource-block"></div>
          } else {
            ResourceViewModel res = Model.Resources[y][x];

            <div class="resource-block-container">
              <img class="resource-block filled-block"
                   src="@res.CurrentIconPath"
                   data-booked="@res.IsBooked()"
                   data-selected="@res.IsSelected()"
                   data-selectable="@res.IsSelectable()"
                   data-group-id="@res.GroupId"
                   data-group-selectable-id="@res.ResourceGroup.SelectableId"
                   data-group-unselectable-id=
                    "@res.ResourceGroup.UnselectableId"
                   data-unselected-icon="@res.GetUnselectedResourceIcon()"
                   data-selected-icon="@res.GetSelectedResourceIcon()"
                   data-unselected-booked-icon=
                    "@res.GetUnselectedBookedResourceIcon()"
                   data-selected-booked-icon=
                    "@res.GetSelectedBookedResourceIcon()"
                   data-id="@res.Id" />

              @Html.Raw(res.GetHoverPopupHtml())
            </div>
          }
        }
      }
    </div>
  </div>

  <button class="book-btn">Create Booking</button>
</div>

<script>
  function post(path, data) {
    let postForm = document.createElement("form");
    postForm.method = "POST";
    postForm.action = path;

    for (let key in data) {
      value = data[key];
      let input = document.createElement("input");
      input.name = key;
      input.value = value;
      input.type = "hidden";

      postForm.appendChild(input);
    }

    document.body.appendChild(postForm);
    postForm.submit();
  }

  function showUnselected(resourceIcon) {
    if (resourceIcon.attr("data-booked") == "True") {
      resourceIcon.attr("src", resourceIcon.attr(
        "data-unselected-booked-icon"));
    } else {
      resourceIcon.attr("src", resourceIcon.attr("data-unselected-icon"));
    }
  }

  function showSelected(resourceIcon) {
    if (resourceIcon.attr("data-booked") == "True") {
      resourceIcon.attr("src", resourceIcon.attr(
        "data-selected-booked-icon"));
    } else {
      resourceIcon.attr("src", resourceIcon.attr("data-selected-icon"));
    }
  }

  function unselectResource(clickedNode) {
    console.log("Selected");
    clickedNode.attr("data-selected", "False");

    showUnselected(clickedNode);

    let unselectableGroupId = clickedNode.attr(
      "data-group-unselectable-id");

    let resourceSelection = ".filled-block[data-group-id="
      + unselectableGroupId + "]";

    let unselectableResources = $(resourceSelection);

    unselectableResources.each(function (i, unselectableResource) {
      showUnselected($(unselectableResource));
    });
  }

  function selectResource(clickedNode) {
    console.log("Unselected");
    clickedNode.attr("data-selected", "True");

    showSelected(clickedNode);

    let groupId = clickedNode.attr("data-group-id");
    let resourcesSelection = ".filled-block[data-group-id="
      + groupId + "]";

    let selectableResources = $(resourcesSelection).toArray();

    let allSelected = selectableResources.every(function (selectableResource) {
      return ($(selectableResource).attr("data-selected") == "True");
    });

    if (allSelected) {
      let unselectableGroupId = clickedNode.attr(
        "data-group-unselectable-id");

      resourceSelection = ".filled-block[data-group-id="
        + unselectableGroupId + "]";

      let unselectableResources = $(resourceSelection);

      unselectableResources.each(function (i, unselectableResource) {
        showSelected($(unselectableResource));
      });
    }
  }

  $(document).ready(function () {
    $(".resource-block[data-selectable='True']").click(function () {
      var clickedNode = $(this);
      if (clickedNode.attr("data-selected") == "True") {
        unselectResource(clickedNode);
      } else {
        selectResource(clickedNode);
      }
    });

    $(".book-btn").click(function () {
      var location = "@Url.Action("MakeBookingForm", "Bookings")";

      var data = {
        selectedDateTime:
          "@Model.SelectedDateTime.ToString("yyyy-MM-dd HH:00")"
      };

      var index = 0;

      $(".filled-block[data-selected='True']").each(function (i, resource) {
        var res = $(resource);
        var resKey = "resourceIds[" + index + "]";
        var resId = res.attr("data-id");
        data[resKey] = resId;
        index++;
      });

      post(location, data);
    });

    $("#select-all-btn").click(function () {
      $(".filled-block[data-selectable='True']").each(function (i, element) {
        let elem = $(element);
        showSelected(elem);
        elem.attr("data-selected", "True");
      });

      $(".filled-block[data-selectable='False']").each(function (i, element) {
        let elem = $(element);
        showSelected(elem);
      });
    });
  });
</script>