﻿@using Computational_Foundry_Booking_System.Models.View_Models.Bookings
@model WeeklyBookingsViewModel

@{
    const int DAYS_IN_WEEK = 7;
    ViewData["Title"] = "WeeklyBookings";
}

<h1 class="common-center-heading">Bookings on week starting:</h1>

<div class="week-date-display">
  <a asp-action="WeekBookings" asp-route-datetime=
      "@Model.WeekDate.AddDays(-DAYS_IN_WEEK).ToString("dd-MM-yyyy")">
    <div class="previous-button"></div>
  </a>
  <h1 class="common-inline-heading">
    @Model.WeekDate.ToString("d MMMM yyyy")
  </h1>
  <a asp-action="WeekBookings" asp-route-datetime=
      "@Model.WeekDate.AddDays(DAYS_IN_WEEK).ToString("dd-MM-yyyy")">
    <div class="next-button"></div>
  </a>
</div>

<div id="week-grid-container">
  @{
      DateTime currentDateTime = @Model.WeekDate;
      int rowCounter = 1;
      int columnCounter = 1;
  }

  <div class="header-cell" style="grid-row-start: @rowCounter;
       grid-column-start: @columnCounter;"></div>

  @for (int i = 0; i < Model.EndDay; i++) {
    columnCounter++;
    <div class="header-cell" style="grid-row-start: @rowCounter;
         grid-column-start: @columnCounter;">
      @currentDateTime.ToString("ddd")
    </div>
    currentDateTime = currentDateTime.AddDays(1);
  }

  @for (int t = Model.StartHour; t <= Model.EndHour; t++) {
    rowCounter++;
    columnCounter = 1;

    <div class="header-cell" style="grid-row-start: @rowCounter;
         grid-column-start: @columnCounter;">
      @t:00
    </div>

    currentDateTime = @Model.WeekDate;
    currentDateTime = currentDateTime.AddHours(t);

    <text>
      @for (int w = 0; w < Model.EndDay; w++) {
        columnCounter++;
        <a asp-controller="Bookings" asp-action="RoomBookings"
           asp-route-datetime="@currentDateTime.ToString("dd-MM-yyyy HH:00")"
           class="space-cell" style="grid-row-start: @rowCounter;
           grid-column-start: @columnCounter;"></a>
        currentDateTime = currentDateTime.AddDays(1);
      }
    </text>
  }

  @foreach (BookingTimeAreaViewModel bookingArea in Model.BookingAreas) {
    int column = bookingArea.GridColumn;
    int startRow = bookingArea.GridStartRow;
    int endRow = bookingArea.GridEndRow;
    int numOfBlocks = bookingArea.NumOfColumns;

    <div class="booking-group-grid" style="grid-column-start: @column;
      grid-column-end: @(column+1); grid-row-start: @startRow;
      grid-row-end: @endRow;
      grid-template-columns: repeat(@numOfBlocks, auto);">

      @for (int i = 0; i < bookingArea.bookingBlocks.Count; i++) {
        WeeklyBookingBlockViewModel bookingBlock =
            bookingArea.bookingBlocks[i];

        int blockStartRow = bookingBlock.GridStartRow-startRow+1;
        int blockEndRow = bookingBlock.GridEndRow-startRow+1;
        int blockColumn = bookingBlock.GridInternalColumn;

      <div class="booking-block-container" style="grid-column-start: @blockColumn;
          grid-column-end: @(blockColumn+1); grid-row-start: @blockStartRow;
          grid-row-end: @blockEndRow;">
        <div class="booking-block">
          @{currentDateTime = bookingBlock.StartDateTime;}

          @for (int h = bookingBlock.GridStartRow;
              h < bookingBlock.GridEndRow; h++) {

            <a class="booking-block-segment" asp-controller="Bookings"
                asp-action="RoomBookings" asp-route-datetime=
                "@currentDateTime.ToString("dd-MM-yyyy HH:00")">
            </a>

            currentDateTime = currentDateTime.AddHours(1);
          }

          @{ 
              string bookingFromTimeStr = bookingBlock.Booking
                  .BeginDateTime.ToString("d MMM hh:00");

              string bookingToTimeStr = bookingBlock.Booking
                  .EndDateTime.ToString("d MMM hh:00");
          }

            <div class="booking-hover-popup">
              <p class="popup-large-text">@bookingBlock.Booking.CompanyName</p>
              <p class="popup-text">@bookingBlock.Booking.Name</p>
              <div class="popup-hr"></div>
              <p class="popup-text">
                Chairs booked: @bookingBlock.Booking.NumOfBookedChairs
              </p>
              <p class="popup-text">
                Lockers booked: @bookingBlock.Booking.NumOfBookedLockers
              </p>
              <div class="popup-hr"></div>
              <p class="popup-text">From @bookingFromTimeStr</p>
              <p class="popup-text">To @bookingToTimeStr</p>
              <div class="popup-hr"></div>
              <p class="popup-text">@bookingBlock.Booking.Description</p>
            </div>
        </div>
      </div>
      }

    </div>
  }
</div>