﻿@using Computational_Foundry_Booking_System.Models.View_Models.Accounts;

@model AccountApprovalViewModel

@{
    ViewData["Title"] = "Account Approval";
}

<h1 class="common-center-heading">Account Approval</h1>

<div class="details-table">
  <div class="details-row">
    <div class="details-cell">
      <div class="details-start-header">
        Email
      </div>
    </div>
    <div class="details-cell">
      <div class="details-middle-header">
        <div class="details-vr"></div>
      </div>
    </div>
    <div class="details-cell">
      <div class="details-middle-header">
        Company Name
      </div>
    </div>
    <div class="details-cell">
      <div class="details-middle-header">
        <div class="details-vr"></div>
      </div>
    </div>
    <div class="details-cell">
      <div class="details-middle-header">
        Website Link
      </div>
    </div>
    <div class="details-cell">
      <div class="details-middle-header">
        <div class="details-vr"></div>
      </div>
    </div>
    <div class="details-cell">
      <div class="details-end-header">
        Approve?
      </div>
    </div>
  </div>
  @foreach (AwaitingAccountViewModel account in Model.AwaitingAccounts) {
  <div data-email="@account.Email" class="details-row">
    <div class="details-cell">
      <div class="details-start-element">
        @account.Email
      </div>
    </div>
    <div class="details-cell">
      <div class="details-middle-element">
        <div class="details-vr"></div>
      </div>
    </div>
    <div class="details-cell">
      <div class="details-middle-element">
        @account.CompanyName
      </div>
    </div>
    <div class="details-cell">
      <div class="details-middle-element">
        <div class="details-vr"></div>
      </div>
    </div>
    <div class="details-cell">
      <div class="details-middle-element">
        <a href="@account.WebsiteLink">@account.WebsiteLink</a>
      </div>
    </div>
    <div class="details-cell">
      <div class="details-middle-element">
        <div class="details-vr"></div>
      </div>
    </div>
    <div class="details-cell">
      <div class="details-end-element">
        <button class="details-btn approve-btn">Approve</button>
        <button class="details-btn deny-btn">Deny</button>
      </div>
    </div>
  </div>
  }
</div>

<script>
  $(".approve-btn").click(function (e) {
    let accountRow = $(e.target).parent().parent().parent();
    let email = accountRow.attr("data-email");

    $.ajax({
      method: "POST",
      url: "@Url.Action("ApproveAccount")",
      data: { accountEmail: email },
      success: function () {
        accountRow.remove();
      },
      error: function () {
        alert("Failed to approve account");
      }
    });
  });

  $(".deny-btn").click(function (e) {
    let accountRow = $(e.target).parent().parent().parent();
    let email = accountRow.attr("data-email");

    $.ajax({
      method: "POST",
      url: "@Url.Action("DenyAccount")",
      data: { accountEmail: email },
      success: function () {
        accountRow.remove();
      },
      error: function () {
        alert("Failed to deny account");
      }
    });
  });
</script>