﻿@using Computational_Foundry_Booking_System.Models.View_Models.Bookings
@model NewBookingViewModel

<div class="common-validation" asp-validation-summary="All"></div>
<form class="common-form" method="post" asp-controller="Bookings"
      asp-action="MakeBooking">
  <table class="common-table-form">
    <tr>
      <td></td>
      <td><h3 class="form-heading">Book</h3></td>
    </tr>
    @{ await Html.RenderPartialAsync("_ModelDisplayPartial"); }
    <tr>
      <td></td>
      <td><input type="submit" value="Book" class="form-btn" /></td>
    </tr>
  </table>
</form>