﻿@using Microsoft.AspNetCore.Mvc.ModelBinding

@{
  IEnumerator<ModelExplorer> modelEnumerator = ViewData.ModelExplorer
    .Properties.GetEnumerator();
}

@foreach (ModelMetadata property in ViewData.ModelMetadata.Properties) {
  modelEnumerator.MoveNext();
  ModelExplorer modelExpl = modelEnumerator.Current;
  bool isArray = modelExpl.ModelType.IsArray;
  if (isArray) {
    object[] arr = modelExpl.Model as object[];
    int count = arr.Length;

    if (property.HideSurroundingHtml) {
      for (int i = 0; i < count; i++) {
        @Html.Editor(property.PropertyName + "[" + i + "]",
          property.DataTypeName, new { Value = arr[i], Hidden = true })
      }
    } else {
      for (int i = 0; i < count; i++) {
      <tr>
        <td></td>
        <td>
          <label class="common-label" id="login_label">@property.DisplayName</label>
          @Html.Editor(property.PropertyName + "[" + i + "]",
            property.DataTypeName, new { Value = arr[i], Hidden = false })
        </td>
      </tr>
      }
    }
  } else {
    if (property.HideSurroundingHtml) {
      @Html.Editor(property.PropertyName, new { Value = modelExpl.Model, Hidden = true })
    } else {
      <tr>
        <td></td>
        <td>
          <label class="common-label" id="login_label">@property.DisplayName</label>
          @Html.Editor(property.PropertyName, new { Value = modelExpl.Model, Hidden = false })
        </td>
      </tr>
    }
  }
}
