@using Microsoft.AspNetCore.Identity
@using Computational_Foundry_Booking_System.Models.Data_Models.Accounts
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" asp-controller="Home" asp-action="Index">Computational Foundry</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav">
          @if (SignInManager.IsSignedIn(User)) {
            <li class="nav-item">
              <a asp-controller="Account" asp-action="Manage">Account</a>
            </li>
            <li class="nav-item">
              <a asp-controller="Account" asp-action="Logout">Logout</a>
            </li>
          } else {
            <li class="nav-item">
              <a asp-controller="Account" asp-action="Register">Register</a>
            </li>
            <li class="nav-item">
              <a asp-controller="Account" asp-action="Login">Login</a>
            </li>
          }
        </ul>
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a asp-controller="Home" asp-action="Privacy">
              Privacy
            </a>
            <a asp-controller="Bookings" asp-action="WeeklyBookings">
              Bookings
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>