﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="common-heading">Error.</h1>
<h2 class="common-heading">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID: @Model.RequestId</strong>
    </p>
}