﻿@using Computational_Foundry_Booking_System.Models.View_Models.Accounts
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

@*<img src="~/images/space-photo.jpg" />*@

<div class="images-background">
  <div class="images-strip">
    <img class="fit-image" src="~/images/space-photo.jpg" />
    <img class="fit-image" src="~/images/space-photo-2.jpg" />
  </div>
  <div class="images-strip">
    <img class="fit-image" src="~/images/space-photo-3.jpg" />
    <img class="fit-image" src="~/images/space-photo-4.jpg" />
  </div>
</div>

<div class="common-validation" asp-validation-summary="All"></div>
<form class="common-form" method="post" asp-controller="Account"
      asp-action="Login">
  <table class="common-table-form">
    <tr>
      <td></td>
      <td><h3 class="form-heading">Login</h3></td>
    </tr>
    @{ await Html.RenderPartialAsync("_ModelDisplayPartial"); }
    <tr>
      <td></td>
      <td><input type="submit" value="Login" class="form-btn" /></td>
    </tr>
  </table>
</form>