﻿@using Computational_Foundry_Booking_System.Models.View_Models.Accounts
@model PartnerRegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="common-validation" asp-validation-summary="All"></div>
@if (Model != null && (Model.Success ?? false)) {
    <h3 class="common-label">
      Successfully registered, account is awaiting approval by an admin
    </h3>
}

<form class="common-form" method="post" asp-controller="Account"
      asp-action="Register">
  <table class="common-table-form">
    <tr>
      <td></td>
      <td><h3 class="form-heading">Register Partner Account</h3></td>
    </tr>
    @{ await Html.RenderPartialAsync("_ModelDisplayPartial"); }
    <tr>
      <td></td>
      <td><input type="submit" value="Register" class="form-btn" /></td>
    </tr>
  </table>
</form>