﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

@font-face {
    font-family: 'Cosmos Extra Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Cosmos Extra Bold'), url('../fonts/Cosmos-ExtraBold.woff') format('woff');
}


@font-face {
    font-family: 'Cosmos Light';
    font-style: normal;
    font-weight: normal;
    src: local('Cosmos Light'), url(../fonts/Cosmos-Light.woff) format('woff');
}


@font-face {
    font-family: 'Cosmos Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Cosmos Light Italic'), url('../fonts/Cosmos-LightIt.woff') format('woff');
}


@font-face {
    font-family: 'Cosmos Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Cosmos Medium'), url('../fonts/Cosmos-Medium.woff') format('woff');
}

@font-face {
    font-family: 'futura-pt-bold';
    src: url('../fonts/FuturaPT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../fonts/HelveticaNeueMedium.woff) format('woff');
}

.navbar {
    background-color: #242f60;
    border-color: #242f60;
}

.navbar .navbar-brand,
.navbar .navbar-nav > li > a,
.navbar .navbar-toggle {
    color: white;
    font-size: 1.15rem;
    font-weight: 200;
    padding: 0.25rem 1rem;
    border-bottom: 2px transparent solid;
    transition: border-bottom 1s ease;
    text-decoration: none;
    font-family: "Cosmos Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.navbar .navbar-toggle {
    border-style: solid;
    border-color: #1F780C;
    /*padding: 1vh;*/
}

.navbar .navbar-toggle .icon-bar,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    border-bottom-color: #cad400;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-inverse .navbar-toggle:focus .icon-bar {
    background-color: #A2E369;
}

.popup-hr {
    width: 80%;
    height: 0.5px;
    margin: 5px auto;
    background-color: #93c9df;
}

.details-table {
    display: table;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #93c9df;*/
    border-radius: 0.5rem;
}

.details-row {
    display: table-row;
}

.details-cell {
    vertical-align: middle;
    display: table-cell;
}

.details-vr {
    width: 1px;
    /*margin: auto 5px;*/
    background-color: #93c9df;
}

.details-start-header,
.details-end-header,
.details-middle-header,
.details-start-element,
.details-end-element,
.details-middle-element {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    padding: 2rem 1rem;
    font-family: 'Cosmos Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1rem;
    color: #242f60;
}

.details-start-element,
.details-end-element,
.details-middle-element {
    background-color: #cee7f0;
}

.details-start-header,
.details-end-header,
.details-middle-header {
    font-weight: bold;
    background-color: #93c9df;
}

.details-vr,
.details-start-header,
.details-end-header,
.details-middle-header,
.details-start-element,
.details-end-element,
.details-middle-element {
    height: 2rem;
}

.details-start-header,
.details-start-element {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.details-end-header,
.details-end-element {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.common-validation ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-family: 'Cosmos Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: red;
}

.common-inline-heading,
.common-center-heading,
.form-heading,
.common-heading {
    font-size: 24px;
    line-height: 1.583;
    font-weight: 700;
    font-family: 'futura-pt-bold', Tahoma, sans-serif;
    letter-spacing: 0;
    text-transform: uppercase;
}

.center-link {
    text-align: center;
}

.popup-text,
.popup-large-text {
    font-family: 'Cosmos Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    margin: 0;
}

.popup-text {
    font-size: 0.8rem;
}

.popup-large-text {
    font-size: 1.15rem;
}

.common-label {
    font-family: 'Cosmos Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 13.5px;
    font-weight: bold;
}

.common-inline-heading,
.common-center-heading,
.form-heading,
.common-label,
.common-heading {
    color: #242f60;
}

.common-center-heading,
.form-heading {
    text-align: center;
}

.common-table-form {
    margin: auto;
    border-collapse: separate;
    border-spacing: 10px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 550px;
    margin-top: 5%;
    padding: 55px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.details-btn,
.room-controls-btn,
.padded-btn,
.common-btn,
.book-btn,
.form-btn {
    background-color: #cad400;
    border-color: #cad400;
    color: #242f60;
    box-shadow: 0 1px 3px #979797, 0 1px 2px #979797;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border: 0;
    cursor: pointer;
}

.details-btn {
    margin: 0.25rem;
}

.room-controls-btn,
.padded-btn,
.common-btn,
.book-btn,
.form-btn {
    margin-top: 5%;
}

.room-controls-btn,
.padded-btn,
.book-btn {
    padding: 1vw 2vw;
}

.room-controls-btn {
    margin: 1vw;
}

.form-btn {
    width: 100%;
    padding: 4% 20px;
}

.details-btn:hover,
.room-controls-btn:hover,
.padded-btn:hover,
.common-btn:hover,
.book-btn:hover,
.form-btn:hover {
    background-color:#242f60;
    color: #93c9df;
}

.common-input[type=text],
.common-input[type=password],
.common-input[type=email],
.common-input[type=url],
.common-input[type=datetime-local] {
    border-color: #cad400;
    border-style: solid;
    border-radius: 3px;
    padding: 4%;
    width: 100%;
}

#week-grid-container {
    display: grid;
    grid-gap: 0.1rem;
    grid-template-columns: repeat(6, 1fr);
    background-color: #242f60;
    padding: 0.1rem;
    text-align: center;
    height: 80vh;
}

.booking-group-grid {
    display: grid;
    margin: 0rem 0.1rem;
    grid-auto-rows: 1fr;
    pointer-events: none;
}

.booking-block-container {
    padding: 0.2rem 0.1rem;
}

.booking-block {
    background-color: rgba(147, 201, 223, 0.5);
    border-radius: 0.5rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: all;
    position: relative;
}

.booking-block-segment {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

.booking-block-segment:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.booking-hover-popup {
    position: absolute;
    z-index: 1;
    background-color: rgba(235, 245, 249, 0.97);
    bottom: 110%;
    padding: 10px;
    visibility: hidden;
    pointer-events: none;
    width: 15vw;
}

.booking-block:hover .booking-hover-popup {
    visibility: visible;
}

.resource-block-container {
    position: relative;
}

.resource-block-container:hover .booking-hover-popup {
    visibility: visible;
}

.header-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #93c9df;
    color: #242f60;
    font-family: 'Cosmos Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.space-cell {
    background-color: white;
    transition: background-color 1s ease;
}

.space-cell:hover {
    background-color: #cee7f0;
}

.common-inline-heading {
    display: inline;
    margin: 0;
}

.day-display,
.time-display,
.week-date-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.week-date-display {
    margin: 20px;
}

.previous-button {
    background: url(../images/Previous.svg) no-repeat;
}

.next-button {
    background: url(../images/Next.svg) no-repeat;
}

.resource-block {
    width: 64px;
    height: 64px;
}

.room-controls {
    width: 100%;
    text-align: center;
    /*margin-top: 1vw;*/
}

.room-grid-container {

}

.room-container {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    display: inline-grid;
}

.previous-button,
.next-button {
    width: 40px;
    height: 56px;
    background-size: 30px 42px;
    background-position: center;
    transition: width 0.3s ease, height 0.3s ease, background-size 0.3s ease;
}

.next-button:hover,
.previous-button:hover {
    background-size: 40px 56px;
}

/*Login*/

#login_label{
    text-align: left !important;
}

.images-background {
    position: absolute;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -100000;
}

.images-strip {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fit-image {
    max-width: 35vw;
    max-height: 35vw;
    margin: 0.5vw;
}

#out-div {
    display: flex;
    flex-flow: column;
}

@media only screen and (max-width: 800px) {
    .common-table-form {
        background: rgba(255,255,255,0.75);
    }

    .fit-image {
        margin: 5vw;
    }
}