﻿@model string

@{const int INPUT_DATA_SIZE = 2; }

@{
  ICollection<object> values = ViewData.Values;
  IEnumerator<object> enumerator = values.GetEnumerator();
  for (int i = 0; i <= values.Count - INPUT_DATA_SIZE; i++) {
    enumerator.MoveNext();
  }
  object value = enumerator.Current;
  enumerator.MoveNext();
  bool hidden = (bool)enumerator.Current;
}

@if (hidden) {
  <input name="@ViewData.TemplateInfo.HtmlFieldPrefix"
         value="@value" type="hidden">
} else {
  <input name="@ViewData.TemplateInfo.HtmlFieldPrefix"
         class="common-input" value="@value" type="url" />
}